<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="windows-1255">
<title>Welcome to Wix Hair Salon!</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<h1 align="center" style="font-family:Comic Sans MS;">Welcome to Wix Hair Salon!</h1>
<body background = "background.jpg">

 <div ng-controller="myCtrl" align="center" style="font-family:Comic Sans MS;">
        <form ng-submit="sendPost2()">
            <button type="submit">Available booking times</button>
        </form>
        <br> 
        {{schedule}} <br> <br> 
<!-- 
<form name="myForm" method="get" action="SalonServer">
	First Name: <input type="text" name="fName" placeholder="enter your first name"><br><br>
	Last Name: <input type="text" name="lName" placeholder="enter your last name"><br><br>
	Phone no.: <input type="number" name="id" placeholder="enter your number"><br><br>
	Email: <input type="text" name="email" placeholder="enter your email"><br><br>
	Choose the service you would like to have: <br> <br>
	<input type="radio" name="service" value="Bride treatment" checked>Bride treatment- 3 hours, 700 sheqels<br>
	<input type="radio" name="service" value="Women haircut" >Women haircut- 2 hours, 200 sheqels<br>
	<input type="radio" name="service" value="Men haicut" >Men haircut- 1 hour, 50 sheqels<br><br>	
	Time:  <br>
	<input type="dateTime" name="time"> <br><br>

	<input type="submit" value="cheers"><br>
	

</form><br>
 -->
	
        <form ng-submit="sendPost()">
           First Name: <input type="text" ng-model="fName" placeholder="enter your first name" /><br><br>
           Last Name: <input type="text" ng-model="lName" placeholder="enter your last name" /><br><br>
			Phone no.: <input type="number" ng-model="phone" placeholder="enter your number" /><br><br>
	  		Email: <input type="text" ng-model="email" placeholder="enter your email" /><br><br>
	  		<label><input type="radio" ng-model="service" value="Bride treatment" />Bride treatment- 3 hours, 700 sheqels<br></label>
			<label><input type="radio" ng-model="service" value="Women haircut" />Women haircut- 2 hours, 200 sheqels<br></label>
			<label><input type="radio" ng-model="service" value="Men haicut" />Men haircut- 1 hour, 50 sheqels<br><br>	</label>
             
            <button type="submit">Send</button>
        </form>
        <p> {{message}}
        
   


<!--  <img id="myImage" src="salon.jpg" width="275" height="183" align="right">  -->

<script>
var hairApp = angular.module("myApp", []);

hairApp.controller("myCtrl", [ '$scope', '$http', function($scope, $http) {
 
    $http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded; charset=utf-8";
     
    $scope.sendPost = function() {
        $http({
            url : 'http://localhost:8080/HairSalon/SalonServer',
            method : "POST",
            data : {
                'fName' : $scope.fName,
                'lName' : $scope.lName,
                'phone' : $scope.phone,
                'email' : $scope.fName,
                'service' : $scope.service
            }
        }).then(function(response) {
            console.log(response.data);
            $scope.message = response.data;
        }, function(response) {
            //fail case
            console.log(response);
            $scope.message = response;
        });
    };
        
    $scope.sendPost2 = function() {
        $http({
            url : 'http://localhost:8080/HairSalon/SalonServer',
            method : "POST",
            data : {
                'giveSchedule' : 'true'
            }
        }).then(function(response) {
            console.log(response.data);
            $scope.schedule = response.data;
        }, function(response) {
            //fail case
            console.log(response);
            $scope.schedule = response;
        });
 
    };
} ]);
</script>





</body>
</html>